.cards {
  padding: 80px 70px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.cards__list {
  padding-bottom: 50px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 20px;
}

.cards__button {
  max-width: 320px;
  max-height: 36px;
  width: 100%;
  padding: 8px 0;
  background-color: transparent;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.cards__message {
  align-self: center;
}

@media screen and (max-width: 780px) {
  .cards {
    padding: 70px 30px;
  }
  .cards__list {
    grid-row-gap: 35px;
    grid-column-gap: 30px;
  }
}

@media screen and (max-width: 375px) {
  .cards {
    padding: 100px 10px;
  }

  .cards__button {
    margin-top: 20px;
  }
}
