.card {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  height: 100%;
  max-width: 364px;
  max-height: 271px;
}

.card__list{
  margin-left: 13px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.card__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.card__discription{
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  margin: 0;
}

.card__like {
  width: 30px;
  height: 30px;
  background: transparent url('../../images/like.svg') center no-repeat;
  border: none;
  cursor: pointer;
  outline-style: none;
  margin-top: 18px;
  margin-right: 14px;
}

.card__like-active {
  width: 30px;
  height: 30px;
  background: transparent url('../../images/like-active.svg') center no-repeat;
  border: none;
  cursor: pointer;
  outline-style: none;
  margin-top: 18px;
  margin-right: 14px;
}

.card__delete-saved-film {
  width: 30px;
  height: 30px;
  background: transparent url('../../images/button_del_saved-movies.svg') center no-repeat;
  border: none;
  cursor: pointer;
  outline-style: none;
  margin-top: 18px;
  margin-right: 14px;
} 

.card__image {
  width: 100%;
}
 
@media screen and (max-width:500px) {
  .card {
    flex-direction: column-reverse;
    padding: 0;
    width: 100%;
  }

  .card__discription {
    display: flex;
    flex-direction: row;
    padding: 14px 16px 14px 12px;
    align-items: baseline;
  }

  .card__list {
    width: 100%;
    position: relative;
  }

  .card__title {
    max-width: 228px;
    margin: 0 0 8px 0;
  }

.card__image {
    width: 100%;
  }

  .card__like-active {
    margin: 0;
  }

  .card__like {
    margin: 16px 16px 0 0;
  }

  .card__delete-saved-filmn {
    margin: 16px 16px 0 0;
  }
}