.portfolio__title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #A0A0A0;
  max-width: 250px;
  margin-bottom: 20px;
}

.portfolio__links {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.portfolio__link {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  font-weight: 400;
  text-align: left;
  padding-top: 30px;
  border-bottom: 1px #E8E8E8 solid;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
}

.portfolio__link_not-line {
  border-bottom: none;
}

.portfolio__link-arrow {
  margin: 0;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: black;
  max-width: 29px;
  margin-bottom: 10px;
}

.portfolio__link-arrow:last-of-type {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .portfolio__link {
    font-size: 28px;
  }

  .portfolio__link-arrow {
    font-size: 28px;
    max-width: 27px;
  }
}

@media screen and (max-width: 400px) {
  .portfolio__title {
    font-size: 14px;
    max-width: 292px;
    margin: 0 0 20px 0;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link-arrow {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    max-width: 18px;
  }
}