.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 110px 70px 116px 70px;
  box-sizing: border-box;
}

.project__title {
  width: 100%;
}

.diplom {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 100px 0 110px 0;
  list-style-type: none;
}

.diplom__title {
  margin: 0;
  padding-bottom: 25px;
  line-height: 20px;
  font-weight: 500;
}

.project__duration {
  display: flex;
  width: 100%;
}

.project__duration-area {
  width: 100%;
  text-align: center;
}

.project__duration-area:nth-child(1) {
  width: 25%;
}

.project__duration-time {
  padding: 8px 0;
}

.project__duration-name {
  padding-top: 14px;
}

@media screen and (max-width: 768px) {
  .project {
    padding: 73px 50px 85px 50px;
  }

  .diplom {
    padding-bottom: 100px;
  }

  .diplom__title {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
  }
}

@media screen and (max-width: 375px) {
  .project {
    padding: 70px 18px;
  }
  
  .diplom {
    flex-direction: column;
    gap: 55px;
    padding-top: 85px;
    padding-bottom: 60px;
  }

  .project__duration-area:nth-child(1) {
    width: 50%;
  }

  .diplom__title {
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
  }
}
