.project {
  padding: 106px 70px;
}

.project__line__title {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  text-align: left;
  max-width: 600px;
  margin: 0 0 23px 0;
  letter-spacing: -0.04em;
}

.project__line__line {
  border-bottom: 1px black solid;
  max-width: 1140px;
}

.project__description {
  display: flex;
  margin: 70px 0 110px 0;
}

.diplom__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  max-width: 550px;
  letter-spacing: -0.04em;
  margin: 0 0 26px 0;
}

.diplom__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  max-width: 550px;
}

.project__duration {
  display: flex;
}

.project__duration__subtitle_back {
  background-color: #2BE080;
}

.project__duration__subtitle_front {
  background-color: #F5F5F5;
}

.indent {
  margin-left: 40px;
}

.project__duration__week {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project__duration__week_active {
  flex-grow: 0.2;
  display: flex;
  flex-direction: column;
}

.project__duration__subtitle {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: black;
  margin-bottom: 14px;
}

.project__duration__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-align: center;
  color: #A0A0A0;
}

@media screen and (max-width: 800px) {
  .project {
    padding: 90px 50px;
  }

  .project__line__line {
    max-width: 668px;
  }

  .project__description {
    margin: 70px 0 93px 0;
  }

  .diplom__title {
    max-width: 319px;
    margin-bottom: 22px;
  }

  .diplom__subtitle {
    font-size: 12px;
    line-height: 18px;
    max-width: 319px;
  }

  .indent {
    margin-left: 40px;
  }

  .project__duration__title {
    font-weight: 400;
  }
}

@media screen and (max-width: 350px) {
  .project {
    padding: 75px 18px;
  }

  .project__line__title {
    font-size: 18px;
    line-height: 22px;
  }

  .project__description {
    flex-direction: column;
    margin: 65px 0;
  }

  .diplom__title {
    font-size: 18px;
    line-height: 22px;
    max-width: 285px;
    margin: 0 0 16px 0;
  }

  .indent {
    margin-left: 0;
    margin-top: 56px;
  }

  .diplom__subtitle {
    font-size: 11px;
    line-height: 16px;
    max-width: 284px;
  }

  .project__duration__subtitle {
    font-size: 11px;
    line-height: 15px;
  }

  .project__duration__title {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
}