.footer {
  background-color: #FAFAFA;
  padding: 70px 70px 20px 70px;
}

.footer__title {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  font-weight: 400;
  max-width: 320px;
  color: #A0A0A0;
  margin: auto;
  margin-bottom: 20px;
}

.footer__line {
  border-bottom: 1px #E8E8E8 solid;
  max-width: 1140px;
  margin-bottom: 20px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.links__item {
  margin-right: 20px;
}

.links__item:last-child {
  margin: 0;
}

.links__text {
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 79px 30px 20px 30px;
  }

  .footer__line {
    max-width: 708px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    padding: 70px 10px 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
    max-width: 300px;
    margin: 0 0 21px;
  }

  .footer__line {
    max-width: 300px;
    margin-bottom: 30px;
  }

  .footer__list {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .footer__links {
    display: block;
  }

  .links__item {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .links__text {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    margin-top: 30px;
    color: #A0A0A0;
  }
}