.footer {
  margin: 0 auto;
  padding: 70px 70px 20px 70px;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  justify-content: flex-end;
  background-color: #FAFAFA;
}

.footer__title {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.footer__copyright{
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 80px 50px 20px 50px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 60px 10px 10px 10px;
    background-color: #FFFFFF;
  }

  .footer__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  .footer__row {
    margin-top: 10px;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }

  .footer__links {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}
