.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}

.auth__logo-link {
  display: flex;
  justify-content: center;
  width: 38px;
  height: 38px;
}

.auth__success {
  margin: 0;
  text-align: left;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;
  margin-bottom: 16px;
  text-align: left;
  max-width: 396px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.auth__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-right: 4px;
  margin-top: 24px;
}

.auth__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #E8E8E8;
  border: none;
  outline: none;
  margin-top: 5px;
  padding-bottom: 10px;
}

.error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-top: 6px;
  color: #FF4062;
}

.auth__button {
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background-color: #2BE080;
  margin-top: calc(65px + 69px);
  margin-bottom: 16px;
  width: 396px;
  height: 45px;
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer
}

.button-disabled {
  cursor: inherit;
  opacity: .6;
}

.auth__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.auth__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2BE080;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .auth {
    padding: 230px 0;
  }
}

@media screen and (max-width: 500px) {
  .auth {
    padding: 56px 30px 30px;
    align-items: inherit;
  }

  .auth__logo-link {
    margin: 0 auto;
  }

  .auth__success {
    margin-top: 56px;
    margin-bottom: 56px;
    text-align: center;
    max-width: 260px;
  }

  .auth__button {
    font-size: 12px;
    line-height: 15px;
    margin-top: calc(65px + 157px);
    margin-bottom: 14px;
    width: 100%;
  }

  .auth__text {
    font-size: 12px;
    line-height: 15px;
  }

  .auth__link {
    font-size: 12px;
    line-height: 15px;
  }
}