.not-found {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  align-items: center;
}

.not-found__title {
  margin: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: calc(169 / 140);
}

.not-found__subtitle {
  padding-bottom: 184px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.not-found__button {
  cursor: pointer;
  background-color: transparent;
  color: #2BE080;
  border: none;
}

@media screen and (max-width: 768px) {
  .not-found {
    margin-top: 410px;
  }
  
  .not-found__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .not-found__button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 375px) {
  .not-found__title {
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
    }

  .not-found__subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    }

  .not-found__button {
    padding-top: 90px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  .not-found {
    margin-top: 330px;
  }
}